@font-face {
    font-family: 'Seven Segment';
    src: url('SevenSegmentRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: red;
}

div {
    display: flex;
    font-family: 'Seven Segment', cursive;
    transition: all 2s;
}
 
label {
    display: flex;
    font-family: 'Seven Segment', cursive;
    transition: all 2s;
}

input {
    display: flex;
    font-family: 'Seven Segment', cursive;
    transition: all 2s;
    padding: 0;
    min-width: 0;
}


.col{
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 5vh;
    transition: all 2s;
}

.left {
    width: 45%;
}

.right {
    flex-grow: 0.40;
    align-items: flex-start;
    width: 40%;
}

.main{
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.counter {
    font-size: 50vh;
}

.timer {
    font-size: 23vh;
    opacity: 100;
    transition: all 0.8s;
    transition-timing-function: cubic-bezier(.43,.08,.56,.96);
}

.max-score {
    font-size: 0vh;
    overflow: hidden;
}

.logo>img{
    display: flex;
}

.form{
    overflow: hidden;
    box-sizing: border-box;
    max-width: 10000px;
    align-items: center;
}

.collapsed.col{
    max-width: 0px;
    transition: max-width 2s;
    transition-timing-function: linear;
}

.hidden{
    display: none;
}

.form{
    border: 2px white solid;
    border-radius: 1em;
    max-height: 95%;
    overflow-y: auto;
}

.form>* {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group>*{
    padding-right: 1em;
}

.form-group>input{
    width: 50%;
    height: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.submit-btn {
    width: 100%;
}

/*couldn't center text, this will do */
.btn {
    text-align: center;
    background-color: gray;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    transition: background-color 1ms;
}

.btn:hover{
    background-color: lightgray;
}

.radio-item-group{
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}

.radio-group{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0em;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.file-btn{
    border-right:solid black 1px;
}

.deactivated{
    color: darkslategray;
}

@media (max-width: 900px) { 
    form>*{
        display: flex;
        flex-direction: column;
        padding-top: 0em !important;
        padding-bottom: 0em !important;
    }
    .form-group>*{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0em;
        padding-right: 0em;
    }

    p{
        text-align: center;
    }
}

@media (max-width: 750px) { 
    body{
        height: auto;
        overflow-y: auto;
    }
    .main{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .right{
        align-items: center;
    }
}